@import url('https://fonts.googlleapis.com/css?family=Satisfy');

.logo {
  width: 85px;
}

header h1 {
  font-family: 'Satisfy', cursive;
}

.jumbotron {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  450px;
}
